/* _content/TodoList/Pages/Shared/_Layout.cshtml.rz.scp.css */
main[b-ss5j2r9q0v] {
    margin-top: 12.5%;
    margin-left: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a0c4ff;
    box-shadow: 0 0 10rem rgba(255, 219, 160, 0.7);
}
